
#nprogress .bar {
  background: #8b5cf6 !important; 
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px !important;
}

#nprogress .spinner-icon {
  width: 24px !important;
  height: 24px !important;
  border-top-color: #8b5cf6 !important; 
  border-left-color: #8b5cf6 !important;
}